
/* BASIC ELEMENTS
------------------------------------------------------------------------------------- */

* { margin: 0; padding: 0; }
html { min-height: 100%; margin-bottom: 1px; }

body { font: 12px arial, helvetica, sans-serif; color: #343434; background: #F4F4F4; }
table, th, td { font: 12px arial, helvetica, sans-serif; color: #343434; }

a img, :link img, :visited img { border: none; }

a:link { color: #ae1501; text-decoration: none; }
a:visited { color: #ae1501; text-decoration: none; }
a:hover, a:active { color: #ae1501; text-decoration: underline; }
a { outline: none; }

#main { width: 412px; height: 412px; float: left; padding: 0; margin: 0; background-color: #ffffff; }
.previewmain { background-color: #ffffff; }
#asset-popup h1 { diplay: block; background-color: #F4F4F4; color: #666; } 
div.content { margin: 36px 0px 5px 10px; }
input#node-name-filter { width: 300px; }
select#node-type-filter { width: 300px; }
select#node-channel-filter { width: 300px; }
#am-finder { clear: both; }
#am-finder form#am-filter-form div { width: 350px; float: left; }
div#am-node-preview { background-color: #ffffff; text-align: left; padding: 4px; margin: 10px auto 10 auto; width: 400px; height: 400px; float: left; border: 4px solid #CCC; overflow: hidden; }
div.form-item { margin-top: 5px; margin-bottom: 5px; }

/* POPUP TABS
------------------------------------------------------------------------------------- */
#asset-tabs { float:left; width:100%; background:#F4F4F4; font-size:93%; line-height:normal; border-bottom: 1px solid #CCC; }
#asset-tabs ul { margin:0; padding:10px 10px 0 5px; list-style:none; }
#asset-tabs li { display:inline; margin:0; padding:0; }
#asset-tabs a { float:left; background:url('images/tableft.gif') no-repeat left top; margin:0; padding:0 0 0 4px; text-decoration:none; }
#asset-tabs a span { float:left; display:block; background:url('images/tabright.gif') no-repeat right top; padding:5px 15px 4px 6px; color:#666; }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#asset-tabs a span { float:none; } 
/* End IE5-Mac hack */
#asset-tabs a:hover span { color:#000; }
#asset-tabs a:hover { background-position:0% -42px; }
#asset-tabs a:hover span { background-position:100% -42px; }

/* MISC
------------------------------------------------------------------------------------- */
.hide { display: none; }
