* { margin: 0; padding: 0;}

body	{ font-family: arial, helvetica, sans-serif; font-size: 11px; color: #666; background: #fff; }
.body-search	{ background: #e5e4e4 url(images/bg_body.gif) repeat-y; }

img	{ border: 0;}
a:link, a:visited	{ color: #3187b2; text-decoration: none;}
a:hover	{ color: #50809b; text-decoration: underline;}

#am-header	{ position: relative; height: 100px; background: #3d6981 url(images/bg_header.gif) repeat-x bottom left;}
	#am-header h1	{ color: #fff; font-size: 36px; font-weight: normal; padding: 20px 0 0 20px; letter-spacing: -1px; text-transform: uppercase; }

#am-tabs	{ position: absolute; bottom: 0; left: 20px; height: 30px;}
  #am-tabs ul { margin: 0; padding: 0; }
  #am-tabs ul li { margin: 0; padding: 0; background: transparent none repeat scroll 0%; }
	#am-tabs li	{ float: left; display: inline; font-weight: bold; text-transform: uppercase; margin-right: 5px;}
	#am-tabs li a:link, #am-tabs li a:visited	{ float: left; display: block; text-decoration: none; color: #fff; background: url(images/tab_rt.gif) no-repeat top right; }
	#am-tabs li a span	{ position: relative; float: left; display: block; height: 30px; line-height: 30px; padding: 0 12px; background: url(images/tab_lt.gif) no-repeat; margin-left: -2px; cursor: pointer;}
	#am-tabs li a b	{ font-size: 15px; line-height: 5px;}

	#am-tabs li a:hover	{ color: #dff4ff; background: url(images/tab_rt_hover.gif) no-repeat top right; }
	#am-tabs li a:hover span	{ background: url(images/tab_lt_hover.gif) no-repeat; }
	
	#am-tabs li.on a:link, #am-tabs li.on a:visited	{ color: #50809b; background: url(images/tab_rt_on.gif) no-repeat top right; }
	#am-tabs li.on a span	{ background: url(images/tab_lt_on.gif) no-repeat; }

#am-search	{ float: left; display: inline; width: 250px; margin: 20px; }
#am-search form	{ padding: 0 0 10px;}
#am-search label	{ display: block; font-weight: bold; padding: 0 0 3px;}
#am-search .input	{ padding: 2px; border: 1px solid #797979; border-color: #797979 #c3c3c3 #c3c3c3 #797979; width: 244px; margin: 0 0 10px; font-size: 11px; color: #666; }
#am-search .description { margin: -10px 0px 10px; }

#am-results	{ position: relative; width: 248px; height: 230px; overflow: auto; border: 1px solid #797979; border-color: #797979 #c3c3c3 #c3c3c3 #797979; background: #f3f3f3;}
	#am-results a:link, #am-results a:visited	{ position: relative; display: block; padding: 0 10px; clear: both; text-decoration: none; height: 50px; line-height: 50px; outline: none; }
	#am-results a img	{ float: left; margin: 4px 10px 0 0; border: 1px solid #f3f3f3; }
	#am-results a i	{ color: #666; }
	#am-results a:hover	{ background: #ddd;}
	#am-results a.on:link, #am-results a.on:visited	{ background: #c6e2f2;}
	#am-results a.on img	{ border: 1px solid #c6e2f2; }
	#am-results a:hover img	{ border: 1px solid #666; }

#am-preview	{ float: left; display: inlint; margin: 20px 0 0 20px;}
	#am-preview form	{ font-size: 13px;}
	#am-preview p div { float: left; width: 400px; }
	#am-preview p b	{ display: none;}
	#am-preview p	{ position: relative; font-size: 13px; }
	#am-preview a:hover b	{ position: absolute; top: 150px; left: 125px; display: block; padding: 20px; background: #418fb9; color: #fff; cursor: pointer;opacity: .85; filter: alpha(opacity=85); }
	.btn	{ font-weight: bold; color: #003c74; font-size: 11px; padding: 2px 1px; }
	
#am-content	{ padding: 20px;}

#am-add-node { padding: 20px; }

#edit-update { display: none; }

.node-form { padding: 0 0 10px; }
.node-form fieldset { padding: 5px; margin: 10px 0 10px; }
.node-form label { display: block; font-weight: bold; padding: 0 0 3px; }
.node-form input, select	{ padding: 2px; margin: 0 0 10px; border: 1px solid #797979; border-color: #797979 #c3c3c3 #c3c3c3 #797979; font-size: 11px; color: #666; }
.node-form #edit-taxonomy-1 { min-width: 150px; }

p	{ padding: 0 0 15px;}
h2	{ font-size: 18px; font-weight: normal; color: #3c6780; padding: 0 0 10px;}
.clear	{ clear: both; }
br.clear	{ height: 1px; font-size: 1px;}
.hide { display: none; }